// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li>a {
	color: #777;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #e7e7e7;
    border-radius: 0;
	background-color: #eee;
}

.nav-tabs>li>a:focus, 
.nav-tabs>li>a:hover {
	color: #333;
	border: 1px solid #e7e7e7;
    text-decoration: none;
    background-color: #e7e7e7;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
 background-color: #e7e7e7;
}

/* --- */
.indented {
	margin: 0 0 0 10px;
	border-left: 3px solid #e7e7e7
}

.js-comment {
	border: 1px solid #eee;
	padding: 5px;
	margin: 0 0 5px 0;
}

.comment-links {
	margin: 0;
}

.comment-links>li {
    padding: 0;
}

.comment-links>li>a {
	padding: 3px 6px;
	color: #777;
    margin-right: 2px;
	font-size: 11px;
    line-height: 1.42857143;
    border: 1px solid #e7e7e7;
    border-radius: 0;
	background-color: #eee;
}

.comment-links>li>a:focus, 
.comment-links>li>a:hover {
	color: #333;
	border: 1px solid #e7e7e7;
    text-decoration: none;
    background-color: #e7e7e7;
}